<a href="https://colab.research.google.com/github/Maria-mbugua/IPWEEK3_CORE/blob/main/Week3_IP_Core_Mary_Mbugua.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import random

In [2]:
# Prevewing the dataset
url = 'http://bit.ly/MedicalCitiesIncomeDataset'
df = pd.read_csv(url)
df.head()

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

In [3]:
# Displaying the size of the data
df.shape

(150000, 6)

In [4]:
# Selecting a sample from the data
df1 = df.sample(n = 30, replace="False")
print(df1)

        Number             City  Gender  Age    Income Illness
41483    41484    New York City  Female   28   96787.0      No
100946  100947      Los Angeles    Male   51  103150.0      No
70444    70445      Los Angeles    Male   55  100448.0      No
10581    10582           Dallas    Male   65   51065.0      No
50373    50374    New York City    Male   61  105588.0      No
62143    62144    New York City    Male   55  102447.0      No
67451    67452    New York City    Male   36  107633.0      No
44674    44675    New York City    Male   36  124561.0      No
95185    95186      Los Angeles    Male   64  109195.0      No
118719  118720           Boston    Male   30  106494.0      No
141285  141286           Austin    Male   41   96061.0      No
118577  118578           Boston    Male   58  105496.0     Yes
13080    13081           Dallas  Female   40   58899.0      No
49750    49751    New York City    Male   41  104822.0      No
95790    95791      Los Angeles  Female   28   91380.0      No
32272    32273    New York City  Female   40  100367.0      No
47266    47267    New York City    Male   29  100820.0     Yes
146629  146630           Austin    Male   37   91216.0      No
27468    27469    New York City    Male   43   99968.0      No
4343      4344           Dallas    Male   40   46976.0      No
68749    68750    New York City  Female   37   97555.0      No
145178  145179           Austin    Male   36   94123.0      No
2821      2822           Dallas  Female   62   22321.0      No
64886    64887    New York City    Male   59   95476.0      No
142930  142931           Austin    Male   27   83476.0      No
8765      8766           Dallas  Female   54   51503.0      No
106175  106176    Mountain View  Female   64  128973.0      No
125891  125892  Washington D.C.    Male   32   73779.0      No
110919  110920    Mountain View    Male   44  136520.0      No
146138  146139           Austin  Female   50   88363.0      No